<%= params[:jsonp] %>({html: "<style>@import url('http://<%= @domain %>/sharebelt.css')</style><div class='sharebelt <%= @referrer.css_class %>'><%= @referrer.html_content %> (<%= @referrer.domain %>)</div>"})
