%h2 Your sites

.sites_list.twelve.columns
  - @sites.each_with_index do |site,index|
    %div{class: ("row" if index.to_i.even?)}
      .site.panel.radius.six.columns
        %h3= site.name
        %ul
          %li
            = link_to site do
              %span.icon-bar-chart
          %li
            = link_to edit_site_path(site) do
              %span.icon-pencil

          %li
            = link_to(site, method: :delete, confirm: 'Are you sure?') do
              %span.icon-remove

  .row
    = link_to 'Add a site', new_site_path, :class => "button"
