:javascript
  window.onload = function () {
    jQuery.get("http://sharebelt.com/reports/#{@site.id}", function(data) { renderGraph(data) })

    renderGraph = function(data) {
      nv.addGraph(function() {
        var chart = nv.models.multiBarChart();
        chart.xAxis
             .tickFormat(function(d) {
                return d3.time.format('%x')(new Date(d));
              });
      
        chart.yAxis
             .tickFormat(d3.format(',.1f'));

        d3.select('#chart1 svg')
          .datum(data)
          .transition().duration(500).call(chart);
       
        nv.utils.windowResize(chart.update);
       
        return chart;
      });
    }
  }


%h2
  Activity for
  = @site.name

#chart1{:style => "margin-top:50px"}
  %svg{:style => "height:300px"}

%h2
  Settings for
  = @site.name

%textarea
  :erb
    <div id='sharebelt-wrapper' data-site="<%= @site.id %>"></div>
    <script src="http://sharebelt.com/assets/sharebelt.js" type="text/javascript"></script>
    <script>
      sbj = new ShareBeltInjector
      sbj.injectScript(document)
    </script>

= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path
